<form [formGroup]="form">

  <mat-form-field>
    <mat-label>QR-Code-Type</mat-label>
    <mat-select [formControl]="form.controls.type">
      <mat-option [value]="QRCodeType.Normal">Normal</mat-option>
      <mat-option [value]="QRCodeType.Wifi">Wifi</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="form.controls.type.value === QRCodeType.Wifi">
    <mat-form-field>
      <mat-label>SSID</mat-label>
      <input matInput [formControl]="form.controls.wifi.controls.ssid">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="form.controls.wifi.controls.password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wifi-Type</mat-label>
      <mat-select [formControl]="form.controls.wifi.controls.type">
        <mat-option [value]="null"></mat-option>
        <mat-option [value]="WifiType.WPA">WPA</mat-option>
        <mat-option [value]="WifiType.WEP">WEP</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="form.controls.type.value === QRCodeType.Normal">

    <mat-form-field>
      <mat-label>Text</mat-label>
      <textarea matInput [formControl]="form.controls.normal.controls.text"></textarea>
    </mat-form-field>
  </div>

</form>

<div>
  <qrcode
    *ngIf="qrCodeData !== null"
      [qrdata]="qrCodeData"
      [width]="256"
      [errorCorrectionLevel]="'M'"
      [colorDark]="'#fff'"
      [colorLight]="'#222'"
      [elementType]="'svg'"
      [imageHeight]="500"
      [imageWidth]="500"
  ></qrcode>
</div>
