<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <app-container>
  <ul>
    <li><a routerLink="/contrast" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">Contrast</a></li>
    <li><a routerLink="/qr-code" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">QR-Code</a></li>
  </ul>
  </app-container>
</nav>

<app-container>
<router-outlet></router-outlet>
</app-container>
