nav {
  width: 100%;
  border-bottom: 1px solid var(--text);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3rem;
  display: flex;
  gap: 1px;
}

nav ul li {
  height: 100%;
  width: 5rem;
}

nav ul li a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
nav ul li a.active {
  background: var(--text);
  color: var(--bg);
}
