
<form>
<div>
  <span class="info" [ngStyle]="{background: foregroundColorHex}"></span>
  <input [formControl]="form.controls.foregroundColorHex">
  <input type="number" [formControl]="form.controls.foregroundColor.controls.r" step="1" min="0" max="255">
  <input type="number" [formControl]="form.controls.foregroundColor.controls.g" step="1" min="0" max="255">
  <input type="number" [formControl]="form.controls.foregroundColor.controls.b" step="1" min="0" max="255">
  <input type="number" [formControl]="form.controls.foregroundColor.controls.a" step="0.01" min="0" max="1">
</div>

<div>
  <span class="info" [ngStyle]="{background: backgroundColorHex}"></span>
  <input [formControl]="form.controls.backgroundColorHex">
  <input type="number" [formControl]="form.controls.backgroundColor.controls.r" step="1" min="0" max="255">
  <input type="number" [formControl]="form.controls.backgroundColor.controls.g" step="1" min="0" max="255">
  <input type="number" [formControl]="form.controls.backgroundColor.controls.b" step="1" min="0" max="255">
</div>
</form>

<div>
  Contrast: {{ contrast }}:1

</div>

<div class="example" [ngStyle]="{background: backgroundColorHex, color: foregroundColorWithAlpha}">
  <span class="info" [ngClass]="contrast >= 4.5 ? 'success' : 'error'"></span><h2 contenteditable="true">Testtext</h2>
  <span class="info" [ngClass]="contrast >= 7.0 ? 'success' : 'error'"></span><p contenteditable="true">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
</div>
