.example {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1rem 1fr;
  padding: 1rem;
  border-radius: .5rem;
}
.example h2, .example p {
  margin: 0;
}
.example h2 {
  font-size: 18pt;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form div {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.info {
  --size: .8rem;
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
}
.info.success {
  background: yellowgreen;
}
.info.error {
  background: firebrick;
}
