/* You can add global styles to this file, and also import other style files */
:root {
  --bg: #222;
  --text: #eee;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  background: var(--bg);
  color: var(--text);
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:visited {
  color: var(--text);
}
